body {
    font-size: 13pt;
    background-color: palevioletred;
    font-family: 'Belanosima', sans-serif;
}
.rob{
  text-align: center;
  margin-top : 30%;
  color : orangered;
  border: 2px solid red ;
  height: 400px;
  
  margin-left: 17px;
margin-right: 17px;
background-color: palegreen;
border-radius: 30px;
 
}
.rob h1{
  padding-top : 50px;
}
.rob p{
  font-size: 17pt;
  color : purple;
  
}
.rob button{
  background-color: greenyellow;
  border-radius: 20px;
  width: 120px;
  height: 30px;
}
.img{
  width:100% ;
  height: 100%;
  margin: 0px 0px 0px;
}
  

.vir{
  color : red ;
  text-align: center;
  font-size: 30px;
  color : whitesmoke;
  margin: 0px 0px;
  
}
.pvir{
  color : white;
  font-size: 30px;
  color : red;
  
}
.pvir2{
  color : greenyellow;
  
}
.virx{
  color : paleturquoise;
  font-size: 45px;
}
  

  

